In [1]:
import pandas as pd

data = [{"a": 2, "b": 3}, {"a": 5, "b": 6}]

df = pd.DataFrame(data)

In [2]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df['a'].max()

5

In [6]:
df

   a  b
0  2  3
1  5  6

In [9]:
df.loc[1]
# row

a    5
b    6
Name: 1, dtype: int64

In [10]:
df['a']
# columnn

0    2
1    5
Name: a, dtype: int64

In [14]:
import pandas as pd
stats = [{'steve': 19, 'john': 27, 'chris': 13}], [{'steve': 34, 'john': 9, 'chris': 41}]

ss = pd.DataFrame(stats)

In [16]:
ss

                                        0
0  {'steve': 19, 'john': 27, 'chris': 13}
1   {'steve': 34, 'john': 9, 'chris': 41}

In [23]:
import pandas as pd
from pandas import DataFrame

filename = 'Class data - Sheet1.csv'

df = pd.read_csv(filename)

In [27]:
results = df.groupby(['State']).count().reset_index()

results

,State,Person,Age,Shoe size,Sign,Chipotle order,Dog or Cat?,Major,SKI?
0,CA,3,3,2,3,2,3,3,3
1,CO,24,24,22,22,23,22,21,17
2,DC,1,1,0,1,1,1,1,1
3,Hidden leaf,0,1,1,1,1,1,1,1
4,ID,1,1,1,1,1,1,1,1
5,IL,1,1,1,1,1,1,1,1
6,Ks,1,1,1,1,1,1,1,1
7,MA,1,1,1,1,1,1,1,1
8,MD,1,1,1,1,1,1,1,1
9,MT,1,1,1,1,1,1,1,0
10,NV,1,1,1,1,1,1,1,1
11,NY,3,3,3,2,3,3,3,3
12,OR,1,1,1,1,0,1,1,1
13,PA,2,2,1,2,2,2,2,2
14,TN,1,1,1,1,1,1,1,1
15,TX,2,2,2,2,2,2,2,1
16,WA,1,1,1,1,1,1,1,1

In [30]:
age = df.groupby(['Age']).mean().reset_index()

age

      Age  Shoe size
0      17  10.000000
1      19   9.000000
2      20  10.500000
3      21   9.966667
4      22   9.750000
5      23  11.000000
6      29  10.500000
7      38   9.500000
8  Junior  12.000000
9  Senior  13.000000

In [31]:
df.loc[2]

Person                 Nardos
State                      CO
Age                        21
Shoe size                 NaN
Sign              Sagittarius
Chipotle order           bowl
Dog or Cat?           neither
Major               Marketing
SKI?                      NaN
Name: 2, dtype: object

In [32]:
shoe = df.groupby(['Shoe size']).max().reset_index()

shoe

<ipython-input-32-1c37215daaa2>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  shoe = df.groupby(['Shoe size']).max().reset_index()

    Shoe size State     Age
0         7.0    CO      22
1         7.5    TX      21
2         8.0    WA      22
3         9.0    TX      22
4         9.5    TN      38
5        10.0    NY      23
6        10.5    OR      29
7        11.0    PA  Senior
8        11.5    NV      21
9        12.0    CO  Junior
10       13.0    CO      23
11       14.0    Ks      21
12       15.0    CO  Senior